@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Success</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-content-right">
                    <div class="woocommerce">
                        <div class="woocommerce-info">
                            Your order place success
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
 @{
        HttpHelper.HttpContext.Session.SetString("Cart", "");
 }
